<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragmentos/layout">
<div th:fragment="conteudo">

  <div class="container">
    <h1>Cadastro de alunos</h1>
    <form action="/novo-aluno" method="post" th:object="${aluno}" class="mt-5">

      <input type="hidden" th:field="*{id}">

      <div class="mb-3">
        <label for="nome" class="form-label">Nome: </label>
        <input type="text" th:field="*{nome}" class="form-control" id="nome" aria-describedby="Nome" required>
        
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" th:field="*{email}" class="form-control" id="email" required>
        
      </div>

      <div class="mb-3">
        <label for="cpf" class="form-label">CPF: </label>
        <input type="text" th:field="*{cpf}" class="form-control" id="cpf" required>
        
      </div>    
     
      
      <input type="submit" class="btn btn-primary">
    </form>
  </div>

</div>

</html>